<div class="row justify-content-center ">
    <div class="card bg-dark col-md-4" >
        <div class="card-body text-center ">
        <h5 class="card-title text-white">Login</h5>
        <h6 class="card-subtitle mb-2 text-muted my-3">Correo</h6>
        <input type="text" class="col-md-10">
        
        <h6 class="card-subtitle mb-2 text-muted my-3">Password</h6>
        <input type="text" class="col-md-10">
        
        <button class="btn btn-primary col-md-4 m-3">Enviar</button>
        <button class="btn btn-primary col-md-4 m-3">Enviar</button>
        </div>
    </div>
</div>